<ion-modal-view  ng-controller="BuddyProfileCtrl">
    <ion-header-bar class="bar bar-header adb-header bg-default">
        <h1 class="title">
            <span>Upcoming Events</span>
        </h1>
        <button class="button button-clear button-light" ng-click="removeModalEvents()">
            <i class="ion-close"></i>
        </button>
    </ion-header-bar>
    <!-- My Profile -->
    <ion-content class="padding bg-main" ng-controller="EventsCtrl">
        <div class="flex-center">
            <button class="button button-clear button-light adb-orange" ng-click="prev()">
                <i class="ion-chevron-left"></i>
            </button>
            <label class="item item-input padding-right text-center transparent-noborder full-width">
                <div class="search-input full-width">
                    <span ng-bind="month"></span>
                </div>
            </label>
            <button class="button button-clear button-light adb-orange" ng-click="next()">
                <i class="ion-chevron-right"></i>
            </button>
        </div>
        <div>
            <div class="row" ng-show="loading_events">
                <div class="col-center home-col">
                    <ion-spinner icon="dots" class="spinner-adb"></ion-spinner>
                </div>
            </div>
            <div class="search-container" ng-show="!loading_events">
                <div class="text-center" ng-show="activities_month.length == 0">
                    No events fot this month
                </div>
                <div ng-repeat="activity in activities_month">
                    <div class="padding" ng-bind="activity.date"></div>
                    <div class="search-card flex-center"  ng-click="openModalSearch(event)" ng-repeat="event in activity.events">
                        <div class="search-category padding">
                            <img ng-show="event.category == 'handy'"  src="img/white-09.png" alt="">
                            <img ng-show="event.category == 'active'"  src="img/white-10.png" alt="">
                            <img ng-show="event.category == 'social'"  src="img/white-11.png" alt="">
                        </div>
                        <div>
                            <div class="search-name">{{getActivityName(event.name)}}</div>
                            <div>
                                <span ng-bind="event.startDate | date:'h:mma'"></span> -
                                <span ng-bind="event.endDate | date:'h:mma'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
