<ion-popover-view class="popover-profile">
    <ion-content class="popover-profile">
     	<div class="list">
            <a class="item" ng-click="openModalProfile($root.user, true)">
              My Profile
            </a>
            <a class="item" ng-click="openModalSettings()">
              Settings
            </a>
            <a class="item">
              About
            </a>
            <a class="item" ng-click="logout()">
              Log out
            </a>
          </div>
    </ion-content>
</ion-popover-view>